.app {
  height: 100vh;
  font-size: 40px;
  color: #010101;
  padding-top: 65px;
  padding-left: 15px;
  padding-right: 15px;
}

.headder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid #95ad9c;
  padding-left: 15px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #383d39;
}

.link:not(:last-child) {
  margin-right: 15px;
}

.link:hover,
.link:focus {
  text-decoration: none;
  color: #50a669;
}

.home {
  color: #383d39;
}

.home_title {
  margin: 0;
  font-size: 30px;
  padding: 10px 0;
}

.home_list {
  margin: 0;
}

.home_item:hover,
.home_item:focus {
  color: #50a669;
  cursor: pointer;
}

.home_link {
  text-decoration: none;
  font-size: 26px;
  color: inherit;
}